/*  RESET ******************************************************* */


* {
    /* border: solid red 1px; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "";
}


img, svg, input, video {
    width: 100%;
    vertical-align: bottom;
}


ul {
    list-style-type: none;
}


/*  BODY ******************************************************* */

#playground {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#pacman {
    background-color: #F7C63A;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}